.credit {
  position: absolute;
  padding: 20px;
  background-color: rgba(252, 229, 136, 0.8);
  color: #27241d;
  border-radius: 8px;
  bottom: 28px;
  font-size: 1.1rem;
}

.credit a {
  text-decoration: none;
  color: #911111;
}

.credit:hover {
  background-color: rgba(255, 251, 234, 0.8);
}

.left {
  left: 28px;
}

.right {
  right: 28px;
}

@media (max-width: 600px) {
  .credit {
    padding: 10px;
    font-size: 0.8rem;
  }
}
