.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 67%;
  background-color: #de911d;
  padding: 20px;
  border-radius: 8px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  transition: transform 200ms;
  color: #faf9f7;
}

.item:hover {
  transform: scale(1.05);
}

.info {
  font-size: 1.1rem;
}

.difficulty {
  font-size: 1rem;
  text-align: right;
  color: #911111;
}

.img {
  height: 100px;
}

@media (max-width: 600px) {
  .dropdown-menu {
    left: 20%;
  }
}
