.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 67%;
  background-color: blueviolet;
  padding: 20px;
  border-radius: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 30px;
  transition: transform 200ms;
  color: aliceblue;
}

.item:hover {
  transform: scale(1.05);
}

.info {
  font-size: 1.1rem;
}

.difficulty {
  font-size: 1rem;
  text-align: right;
}

.img {
  height: 100px;
}
