.dropdown {
  background-color: #de911d;
  height: 44px;
  width: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.8rem;
  color: #610404;
  border: none;
  outline: none;
  cursor: pointer;
}
.dropdown:hover {
  background-color: #8d2b0b;
  color: #faf9f7;
}

@media (max-width: 600px) {
  .dropdown {
    height: 22px;
    width: 22px;
    font-size: 1.2rem;
  }
}
