.container {
  position: relative;
}

.img {
  max-width: 100%;
  margin-top: 72px;
}

@media (min-width: 768px) {
  .container {
    cursor: url(../assets/custom-cursor.svg), auto;
  }
}

@media (max-width: 600px) {
  .img {
    margin-top: 40px;
  }
}
