.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  background-color: #610404;
  height: 72px;
  z-index: 10;
  width: 100%;
}

.header a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .header {
    height: 40px;
    font-size: 1rem;
  }
}
