.h2 {
  font-size: 2rem;
}

.high-scores {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-size: 1.2rem;
  width: 250px;
}

.item {
  line-height: 1.8;
}

@media (max-width: 600px) {
  .h2 {
    font-size: 1.6rem;
  }
  .high-scores {
    gap: 8px;
  }
  .item {
    line-height: 1.1;
  }
}
