.root {
  position: absolute;
  border-radius: 50%;
  font-size: 1rem;
  height: 2.2rem;
  width: 2.2rem;
  border: 2px dashed white;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3);
}

.list {
  position: absolute;
  background-color: aliceblue;
  border-radius: 0.4rem;
  list-style: none;
  padding: 12px;
  margin: 0;
  cursor: pointer;
  transform: translate(32%, 15%);
}

.list-item {
  padding-bottom: 12px;
  transition: transform 250ms;
}

.list-item:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .root {
    font-size: 1rem;
    height: 6.42rem;
    width: 6.42rem;
    border: 5px dashed white;
  }
  .list {
    height: auto;
    width: 6rem;
    transform: translate(72%, 48%);
  }
}
